@media (max-width: 1000px) {
    #rowDiv{
        flex-direction: column !important;
        /* width: 20vw; */
    }
    #quantityDiv{
        width: 100% !important;
        margin-right: 0;
    }
}