.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f6f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    background: transparent;
  
  }
  
  .nav-links li {
    margin: 0;
    background: transparent;
  
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background: transparent;
  }
  
  .signup-btn {
    padding: 10px 20px;
    background-color: #c492f7 !important;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .balance-pill {
    padding: 10px 20px;
    background-color: #c492f7 !important;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }